<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration_form.css' %}">
</head>
<body>
<div class="signupFrm">
    <form class="form" method="post">
    <h1 class="form-heading">Авторизация</h1>
    {% csrf_token %}
    {% for f in form %}
        <div class="inputContainer">
        {{ f }}
        <label class="label" for="">{{ f.label }}</label>
        </div>
    {% endfor %}
    {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
    {% endfor %}
    <a href="{% url 'registration' %}">Зарегистрироваться</a>
    <button class="submitBtn" type="submit">Войти</button>
    </form>
</div>
</body>
</html>
